#container{
    display: flex;
    width: 480px;
    height: 480px;
    flex-wrap: wrap;
}

.sketch-divs{
    border: 1px solid black;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

