@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
 background: antiquewhite;
}

body{
    font-family: 'Roboto', 'sans-serif';
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0;
    padding: 0;
    background-color: #f39344;
    color: #32151b;
}

#game-and-title{
    display: flex;
    flex-direction: column;
}

#game-and-title h3{
    font-size: 56px;
    display: flex;
    justify-content: center;
}

#buttons-and-screen{
    display: flex;
    flex-direction: row;
    background-color: #d95926;
    border: 20px;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 10px 10px 10px 20px #592b26;
}

#container{
    display: grid;
    width: 700px;
    height: 700px;
    border: 5px solid #32151b;
    z-index: 1;
}

.sketch-divs{
    border: 1px solid rgba(0, 0, 0, 0.050);
    background-color: antiquewhite;
    box-sizing: border-box;   
}

#button-container{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 700px;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 66px;
}

input[type='color']{
    webkit-appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
  }

  input[type='color']:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #f39344);
  }

button{
    display: flex;
    box-sizing: border-box;
    background-color: #592b26;
    color: #f39344;
    border-radius: 12px;
    width: 120px;
    height: 40px;
    border: 2px solid #9f2d23;
    padding: 2px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    cursor: grab;
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #f39344);
}

#sizeDropdown{
    display: flex;
    box-sizing: border-box;
    background-color: #592b26;
    color: #f39344;
    border-radius: 12px;
    width: 120px;
    height: 40px;
    border: 2px solid #9f2d23 !important;
    padding: 2px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sizeDropdown:focus{
    outline: none;
    border: 2px solid #9f2d23;
}

#sizeDropdown:hover{
    cursor: grab;
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #f39344);
}